body {
  margin: 0;
  font-family: "Lexend Deca";
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.card-container {
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  margin: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
}

.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 64px;
  height: 40px;
}

.card h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  font-size: 2.4rem;
}

.card p {
  line-height: 1.75;
  margin-bottom: 2.5rem;
}

.card a {
  border: 2px solid white;
  padding: 1em 2em;
  border-radius: 2em;
  margin-top: auto;
  margin-right: auto;
}

/* .card a:hover {
  background-color: ;
} */

.orange-card {
  background-color: hsl(31, 77%, 52%);
  /* border-radius: 10px 10px 0 0; */
}

.cyan-card {
  background-color: hsl(184, 100%, 22%);
}

.dark-cyan-card {
  background-color: hsl(179, 100%, 13%);
  /* border-radius: 0 0 10px 10px; */
}

@media screen and (max-width: 850px) {
  .card-container {
    flex-direction: column;
    max-width: 400px;
  }

  .card {
    width: unset;
    width: auto;
  }
}
