body {
  margin: 0;
  font-family: sans-serif;
}
.hastag-header {
  background-color: #065fd4;
  padding: 4rem;
  color: white;
  background-image: url(./images/background.png);
  background-position-x: 100%;
  background-position-y: -160px;
  background-size: 260px;
  background-repeat: no-repeat;
}

.hastag-header h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.hastag-header span {
  font-size: 1.3rem;
}

.hastag-header img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 100%;
  vertical-align: middle;
}

img + img {
  margin-left: -1rem;
}
